@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        background-image: url('../img/pattern-background-desktop.svg');
        background-repeat: no-repeat;
        background-size: 100% 50%;
        @apply bg-blue-100;
        zoom: 100%;
    }
}